@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}


* {
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    margin: 0 auto;
}
.principal{
    background-image: url(/assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.principal__combo{    
    margin: 0 6em;
    text-align: center;
}
.principal__frase{
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__botao{
    display: block;
    padding: 1em;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Inter';
    margin: 0 0 1em 0; 
}
.botao__secundario{
    background-color: transparent;
    text-align: center;
    border: 1px solid var(--cinza-secundario);
}
.descricao__botao{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}














.secundario{
    display: flex;
    margin: 0 10% 0 0;
    height: 100vh;
    align-items: center;
    gap: 9em;
}
.container__imagem__plataforma{
    margin: 0 0 0 10em;
}
.container__secundario{
    display: flex;
    flex-direction: column;
}

.container__secundario__titulo{
    font-size: 48px;
    font-weight: 700;
}

.container__secundario__descricao{
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-secundario);
}












.terciario{
    display: flex;
    height: 100vh;
    margin: 0 10%;
    align-items: center;

}

.botao_assine{
    display: inline-block;
    margin: 1em 0;
}


.cursos{
    display: flex;
    height: 100vh;
    margin: 0 10%;
    align-items: center;
}











.dispositivos{
    height: 100vh;
    margin: 0 10%;
    text-align: center;

}

.dispositvos__modelos{
    display: flex;
    justify-content: center;
    
}

.dispositvos__modelos__lista{
    padding: 40px 0;
    list-style-type: none;
}

.dispositvos__modelos__lista__descricao{
    font-family: var(--fonte-principal);
    font-size: 2em;
    font-weight: 700;
    padding: 16px 0;
}

.dispositvos__modelos__lista:hover{
    transform: scale(1.1);
}







.rodape{
    text-align: center;
}
.rodape__logo{
    margin: 0 0 40px 0;
}
.rodape__lista{
    display: flex;
    justify-content: center;
}
.lista__link{
    padding: 0 1em ;
    list-style-type: none;
}
.lista__link a{
    text-decoration: none;
    color: var(--cinza-secundario);
}

.rodape__texto{
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 2em 0;
}

.lista__link a:hover{
    color: var(--botao-azul-efeito);
}